<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocj.security.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.ocj.security.domain.entity.Video">
            <id property="videoId" column="video_id" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
            <result property="views" column="views" jdbcType="BIGINT"/>
            <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,url,description,
        category_id,tags,status,
        like_count,views,publisher,
        create_time,update_time
    </sql>
</mapper>
